doctype html
html
	head
		title= title
		link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
	body
		a(href='/') Project Name
		ul
			li
				a(href='/') Home
			li
				a(href='/articles/add') Add Article
		.container
			block content